@use '../../styles/partials/globals';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.card {
  overflow: hidden;

  &__overview {
    @include backgroundGradient;
    opacity: 0.8;
    transform: translateY(101%);
    overflow-y: auto;
    transition: transform 0.2s ease-in;
  }
}

.card:hover .card__overview {
  transform: translateY(0);
}
