@use '../../styles/partials/globals';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.form__button--container {
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    padding-right: 3rem;
  }
}

.form__login {
  border-top: none;
  background-color: $Pale-beige;

  &--group {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
  }

  &--label {
    min-width: 200px;
    @include tablet {
      width: 320px;
    }
  }

  &--input {
    @extend .form__login--label;
    &:focus {
      outline: none;
      border: black 2px solid;
    }
  }
}
