@use './variables' as *;

// media queries mixins
@mixin mobile {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin font-header {
  font-size: clamp(1.5rem, 1rem + 2.5vw, 4rem);
  line-height: 2rem;
}

@mixin font-section {
  font-size: clamp(1rem, 0.7rem + 1.5vw, 2.5rem);
  line-height: 1.125rem;
}

@mixin font-subheader {
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
  line-height: 1.125rem;
}

@mixin font-body {
  font-size: clamp(0.875rem, 0.77rem + 0.525vw, 1.4rem);
  line-height: 1.125rem;
}

@mixin backgroundGradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(250, 252, 252, 1) 4%,
    rgba(181, 211, 213, 1) 61%,
    rgba(181, 211, 213, 1) 86%
  );
}

//mixins for mobile font size
@mixin page-header-mobile-font {
  font-size: 1.5rem;
  line-height: 2rem;
}

//this one is the same for all devices
@mixin section-header-font {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

@mixin subheader-mobile-font {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

@mixin body-mobile-font {
  font-size: 0.8125rem;
  line-height: 1.125rem;
}

@mixin label-button-mobile-font {
  font-size: 0.625rem;
  line-height: 1.25rem;
}

//mixins for tablet and desktop font size
@mixin page-header-desktab-font {
  font-size: 2.0625rem;
  line-height: 2.75rem;
}

@mixin subheader-desktab-font {
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@mixin body-desktab-font {
  font-size: 0.875rem;
  line-height: 1.375rem;
}

@mixin label-button-desktab-font {
  font-size: 0.75rem;
  line-height: 1.25rem;
}
