@use './variables' as *;

// media queries mixins
@mixin mobile {
  @media (min-width: 320px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1280px) {
    @content;
  }
}

//mixin font-size
@mixin font-header {
  font-size: clamp(1.5rem, 1rem + 2.5vw, 4rem);
  line-height: 2rem;
}

@mixin font-section {
  font-size: clamp(1rem, 0.7rem + 1.5vw, 2.5rem);
  line-height: 1.125rem;
}

@mixin font-subheader {
  font-size: clamp(1rem, 0.8rem + 1vw, 2rem);
  line-height: 1.125rem;
}

@mixin font-body {
  font-size: clamp(0.5rem, 0.77rem + 0.525vw, 1.4rem);
  line-height: 1.3rem;
}

@mixin backgroundGradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(250, 252, 252, 1) 4%,
    rgba(181, 211, 213, 1) 61%,
    rgba(181, 211, 213, 1) 86%
  );
}

//border mixins
@mixin border-top-bottom {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

@mixin border-left {
  border-left: 2px solid black;
}

@mixin border-right {
  border-left: 2px solid black;
}

@mixin border-top {
  border-top: 2px solid black;
}

@mixin border-bottom {
  border-bottom: 2px solid black;
}

@mixin border-left-right {
  border-left: 2px solid black;
  border-right: 2px solid black;
}

@mixin border-all {
  border: 2px solid black;
}
