//primary colors
$Primary-beige: #f9f2ec;
$Primary-silver: #afafaf;

//secondary colors
$Secondary-black: #000000;
$Secondary-beige: #c9c0bb;
$Dark-beige: #9f9a97;

//padding variables
//Base padding for mobile
$Mobile-before-headlines: 1.5rem;
$Mobile-after-headlines: 1rem;
$Mobile-between-components: 1rem;

//base padding for tablet and desktop
$Desktab-before-headlines: 2.25rem;
$Desktab-after-headlines: 1.5rem;
$Desktab-between-components: 1.5rem;
