@use '../../styles/partials/globals';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.hero {
  text-align: center;
  &__image {
    border-radius: 0.625rem;
    object-position: 50% 50%;
    max-width: initial;
    width: 90%;

    &--container {
      padding: 0;
    }
  }
}
