@use '../../styles/partials/globals';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.producers {
  &__containers {
    padding: 0;
    margin: 0.625rem;
    transition: transform 0.12s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  &__row {
    @include tablet {
      flex-wrap: nowrap;
    }
  }

  &__container--flex {
    max-width: 70%;
    min-height: 60svh;
  }
  &__link {
    text-align: center;
    text-decoration: none;
    color: black;

    & h3 {
      @include font-body;
    }
  }

  &__name {
    margin-top: 1rem;
  }
}
