@use '../../styles/partials/globals';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
.sidenav {
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    background-color: $Primary-beige;
    border: none;
    color: black;

    &:hover {
      background-color: $Secondary-beige;
    }
  }

  &__modal {
    background-color: $Secondary-beige;
    @include border-top-bottom;
    &--header {
      @include border-left;
      @include border-bottom;
    }

    &--menu {
      font-weight: 600;
      @include font-section;
      padding-left: 1.3rem;
      padding-top: 0.5rem;
      padding-bottom: 0.4rem;
    }

    &--body {
      @extend .sidenav__modal--header;
      border-bottom: none;
    }
  }

  &__list {
    list-style-type: none;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__item {
    padding-top: 1rem;
    padding-bottom: 1rem;

    &:hover {
      text-decoration: underline;
    }
  }

  &__link {
    text-decoration: none;
    color: black;
  }

  &__logo {
    &--container {
      display: flex;
      width: 100%;
      align-items: center;
      margin-top: 1rem;
      margin-left: 1.875rem;
    }
  }
}
