@use '../../styles/partials/globals';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.wine {
  &__image {
    max-width: 70%;
    border-radius: 10px;

    @include tablet {
      max-width: 100%;
    }

    &--container {
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }

  &__list {
    @include font-body;
    padding: 0;
    list-style-type: none;

    &--container {
      max-width: 70%;
      display: flex;
      justify-content: center;

      @include tablet {
        max-width: 100%;
      }
    }
  }

  &__item {
    padding-bottom: 1rem;

    @include tablet {
      padding-bottom: 2rem;
    }

    &--span {
      font-weight: 600;
    }
  }
}
