@use '../../styles/partials/globals';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.about-card {
  max-width: 70%;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  &__name {
    font-weight: 400;
    margin-bottom: 1rem;
  }

  &__image {
    max-width: 100%;
  }
}
