@use '../../styles/partials/globals';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.form {
  background-color: $Secondary-beige;
  @include border-top;

  &__group {
    display: flex;
    padding: 0.5rem 5rem 0.5rem 0;
    justify-content: flex-end;
  }

  &__label {
    width: 70%;
  }

  &__input {
    width: 100%;

    &:focus {
      outline: none;
      border: black 2px solid;
    }
  }
}

.results {
  max-width: none;

  background-color: $Secondary-beige;

  &__list {
    @include font-subheader;
    font-weight: 600;
    list-style-type: none;
    padding-bottom: 0.9rem;
  }

  &__item {
    padding-top: 0.5rem;
    text-decoration: none;
    @include font-body;
    font-weight: 400;
  }

  &__link {
    color: black;
    text-decoration: none;
    @include font-body;
    font-weight: 400;

    &:hover {
      text-decoration: underline;
    }
  }
}
