@use '../../styles/partials/globals';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.header {
  @include border-tb;

  &__heading {
    @include font-header;
    font-family: 'DM Serif', serif;
  }
}

.col__search {
  border-left: 2px solid black;
  border-right: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search__button {
  border: none;
  background-color: $Primary-beige;
}

.col__menu {
  border-right: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
