@use '../../styles/partials/globals';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.pdf {
  width: 90%;
  height: 100%;

  &__section {
    margin: 1rem 0;
    @include tablet {
      margin: 2rem 0;
    }
    @include desktop {
      margin: 3rem 0;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
  }

  &__button {
    @include font-body;
    height: 1.9rem;
    width: 12.5rem;
    background-color: $Secondary-beige;
    @include tablet {
      height: 2.375rem;
    }

    &:hover {
      background-color: $Dark-beige;
    }

    &--container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5svh;
      margin: 1rem 0;
    }
  }
}
