@use '../../styles/partials/globals';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.pdf {
  width: 90%;
  height: 100%;

  &__section {
    margin: 3rem 0;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
  }

  &__button {
    @include font-body;
    height: 2.375rem;
    width: 12.5rem;
    background-color: $Secondary-beige;

    &:hover {
      background-color: $Dark-beige;
    }

    &--container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 5svh;
      margin: 1rem 0;
    }
  }
}
