@use '../../styles/partials/globals';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.footer {
  @include border-top-bottom;

  &__containers {
    @include border-right;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__list {
    padding: 1rem 1rem;
    list-style-type: none;
    text-transform: uppercase;
    @include font-mini-body;
  }

  &__item {
    padding-bottom: 0.5rem;
  }

  &__link {
    text-decoration: none;
    color: black;

    &:hover {
      text-decoration: underline;
    }
  }

  &__email {
    border: none;
    background-color: $Primary-beige;
  }

  &__contact-us {
    font-weight: 600;
  }
}

.first {
  border-left: none;
  padding-right: 2rem;

  @include tablet {
    padding-right: 0;
  }
}
