@use '../../styles/partials/globals';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.producer {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__image {
    max-width: 70%;
    border-radius: 0.625rem;
  }
}
