@use '../../styles/partials/globals';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.map {
  height: 90vh;
  width: 40rem;

  &__container {
    padding: 1rem 2rem;
    display: flex;
    justify-content: end;
    width: 100%;
  }

  &__list {
    font-weight: 600;
    @include font-body;
    list-style-type: none;
    text-align: start;
    padding-bottom: 1rem;
  }

  &__items {
    font-weight: 400;
    @include font-body;
    padding: 0.2rem;

    &--1 {
      padding-top: 1rem;
    }
  }
}
