@use '../../styles/partials/globals';
@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;

.map {
  width: 16rem;
  height: 80svh;

  @include tablet {
    width: 40rem;
  }

  &__container {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 100%;

    @include tablet {
      flex-direction: row;
    }
  }

  &__list {
    font-weight: 600;
    @include font-body;
    list-style-type: none;
    text-align: start;
    padding-bottom: 1rem;

    &-box {
      max-width: 40rem;

      @include tablet {
        min-width: 20rem;
      }
    }
  }

  &__items {
    font-weight: 600;
    @include font-body;
    padding: 0.2rem;

    @include tablet {
      font-weight: 400;
    }

    &:hover {
      @include tablet {
        text-decoration: underline;
      }
    }

    &--1 {
      padding-top: 1rem;
    }
  }

  &__address {
    font-weight: 400;
    padding-bottom: 0.5rem;
    font-size: 12px;
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }
}

.tablet--map {
  @include mobile {
    display: none;
  }
  @include tablet {
    display: flex;
  }
}

.mobile--map {
  @include tablet {
    display: none;
  }
}
